@import "tailwindcss";

@theme {
  --color-brand-dark: #4B2E83;
  --color-brand-primary: #6D4CDD;
  --color-brand-light: #A78BFA;
  --color-brand-soft: #EDE9FE;

  --color-bg-main: #F5F3FF;
  --color-surface: #FAFAFC;

  --color-success: #22C55E;
}

body {
  @apply font-sans text-gray-800;
  background-color: var(--color-bg-main);
}